<?xml version="1.0" encoding="utf-8" ?>

<!--
   - I am Karo  😊👍
   -
   - Contact me:
   -     https://www.karo.link/
   -     https://github.com/iamkaro
   -     https://www.linkedin.com/in/iamkaro
   -
   - Leitner Box  (app)
   - https://github.com/iamkaro/Leitner-Box.git
   - Copyright © 2014 developed.
   -->


<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AllLanguages.Properties.Settings.DateBaseConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DateBase.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="AllLanguages.Properties.Settings.KaroDateConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\KaroDate.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
